<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOOKS</title>
</head>
<body>
<form  th:action="@{/book}">
    <button>Back to book list</button>
</form>
<h2>Book</h2>

<a th:text="${'Name - ' + book.getName() + '.'}">Value</a><br/>
<a th:text="${'Author - ' + book.getAuthor() + '.'}">Value</a><br/>
<a th:text="${'Year - ' + book.getYear() + '.'}">Value</a>
<br/>
<div th:if="${owner}">
    <span>Book now possession:</span> <span th:text="${owner.getName()}">Name</span>
    <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book">
    </form>
</div>
<hr/>

<div th:if="${people}">
<span>This book is free, to whom should I assign it?</span>
<form th:method="PATCH" th:action="@{/book/{id}/assign(id=${book.getId()})}">
           <label for="person">Choose a person:</label>
           <select th:object="${person}" th:field="*{id}" id="person">
                   <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
                   </option>
           </select>
    <input type="submit" value="Assign book!">
</form>
</div>

<br/>
<hr/>

<form  th:action="@{/book/{id}/edit(id=${book.getId()})}">
    <button>Edit book</button>
</form>
<br/>
<form  th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
    <button>Delete book</button>
</form>
</body>
</html>